<div class="login_form">
  <%= form_for(:session, url: login_path) do |f| %>
  <div class="username">
    <%= f.label :username %>
    <%= f.text_field :username, id: 'username' %>
  </div>
  <div class="password">
    <%= f.label :password, "Password" %>
    <%= f.text_field :password, id: 'password', type: 'password' %>
  </div>
  <div class="submit_btn">
    <%= f.submit "Login" %>
  </div>
  <% end %>
</div>
