<div class="register-form col s4 offset-s4">
  <%= form_for @user do |f| %>
  <div class="username input-field">
    <%= f.text_field :username, id: 'username', class: "validate" %>
    <%= f.label :username %>
    <span class="tooltiptext"><%= USERNAME_TOOLTIP_TEXT %></span>
  </div>
  <div class="password input-field">
    <%= f.text_field :password, id: 'password', type: 'password', class: "validate" %>
    <%= f.label :password, "Password" %>
    <span class="tooltiptext"><%= INVALID_PASSWORD %></span>
  </div>

    <%= button_tag "Register", :class => "btn waves-effect waves-purple submit-btn" %>
  <% end %>
</div>
