<div class="register_form">
  <%= form_for @user do |f| %>
  <div class="username">
    <%= f.label :username %>
    <%= f.text_field :username, id: 'username' %>
    <span class="tooltiptext"><%= USERNAME_TOOLTIP_TEXT %></span>
  </div>
  <div class="password">
    <%= f.label :password, "Password" %>
    <%= f.text_field :password, id: 'password', type: 'password' %>
  </div>
  <div class="submit_btn">
    <%= f.submit "Register" %>
  </div>
  <% end %>
</div>
