<!DOCTYPE html>
<html>
  <head>
    <title>Cont</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Collaboration Contracts</h1>
    <% flash[:danger] && flash[:danger].each do |msg| %>
      <p class="danger flash_message"><span class="excl">&#10071;</span> <%= msg %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
