<!DOCTYPE html>
<html>
  <head>
    <title>Collaboration Contracts</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
    <script defer="defer" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>

  <body>
    <div id="entire-page">

      <div class="row" id="nav-bar">
        <div class="title-corner sidemenu col s2">
          <a href="/">
            <i class="far fa-handshake fa-3x"></i>
          </a>
          <div>
            <p class="caption-font">Collaboration Contracts</p>
          </div>
        </div>
        <div class="top-nav col s10">
          <h1 class="page-title"><%= @page_title %></h1>
          <div class="avatar-corner">
            <p>Username</p>
            <%= image_tag "default_avatar.png", class: "responsive-img" %>
          </div>
        </div>
      </div>

      <div class="row" id="main-body">
        <div class="col s2">
          <div class="sidemenu-content">
            <div class="user-links">
              <%= link_to 'Login', '#login-modal', class: 'modal-trigger' %>

              <div id="login-modal" class="modal">
                <div class="modal-content">
                  <h4>Login</h4>
                  <div class="json-flash-container">

                  </div>
                  <div class="login-form">
                    <%= render "partials/login_form" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s10">
          <div class="main-container">
            <%= render "partials/flash" %>
            <%= yield %>
          </div>
        </div>
      </div>

    </div>
  </body>
  <script>
    $('.sidemenu-content').css('height', $('#main-body').height())

    $(document).on('turbolinks:load', function() {
      $('#login-modal').modal();

      $('#login-modal').find('.submit-btn').on('click', function(e){
        e.preventDefault();
        var $form = $(this).parent();
        var data = $form.serialize();
        var action = $form.attr("action");

        $.ajax({
          url: action,
          data: data,
          method: 'POST',
          dataType: 'json',
        }).done(function(resp) {
          if (resp.status === 204) {
            $form.find('input').val('');
            $('#login-modal').modal('close');
          } else if (resp.status === 422) {
            $('.json-flash-container').html(resp.attachmentPartial);
          }
        }).fail(function(err) {
          console.log(err);
        })
      })
    });


  </script>
</html
